* {
    /*tudo do html*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.container{
    display: flex;
}
.imagem-fundo{
    width: 50%;
    height: 100vh;/*tamanho vertical do dispositivo*/
    min-width: 330px;
}

.container-form{
    width: 50%;
    padding: 50px 100px;
}

.logo {
    width: 30%;
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);

}

form {
    margin-top: 50px;
}

form p {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold; /*bold deixa em negrito*/
    margin-bottom: 10px;
}

form input{
    padding: 12px;
    width: 60%;
    border-radius: 10px;
    font-size: 16px;
}

form input:focus{
    outline: none;
}

button:hover{
    background-color: blue;
}

button {
    background-color: rgb(27, 96, 245);
    color: aliceblue;
    width: 340px;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}